# Python
__pycache__/
*.py[cod]
*$py.class
venv/
env/

# Data & Models
data/**/*
app/models/artifacts/**/*
!data/.gitkeep
!app/models/artifacts/.gitkeep
!app/models/artifacts/best_model.joblib
!data/processed/scaler.joblib

# Database
*.db

# OS
.DS_Store
Thumbs.db

# Notebooks
.ipynb_checkpoints

# Logs
*.log
